# Node
node_modules/

# Env files
.env

# IDE / Editor files
.vscode/
.idea/
*.log

# Build / Dist
build/
dist/

# Visual Studio / .NET
.vs/
bin/
obj/

# .NET build outputs
backend/**/bin/
backend/**/obj/
